{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block contents %}
<style>
    .pagination .active a {
        background-color: #018690 !important;
        color: #fff !important;
    }
</style>
<!-- Header -->
<header class="bg-surface-primary border-bottom pt-6 sticky-top shadow-sm p-3 mb-5 bg-body-tertiary">
    <div class="container-fluid">
        <div class="mb-npx">
            <div class="row align-items-center">
                <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                    <!-- Title -->
                    <h1 class="h2 mb-0 ls-tight">{{title}}</h1>
                </div>
                <!-- Actions -->
                <div class="col-sm-6 col-12 text-sm-end">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}" {% endif %}>
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Nav -->
            <ul class="nav nav-tabs mt-4 overflow-x border-0">
                <li class="nav-item">
                    <a href="#tabAssociateDegree" class="nav-link nav-link-tabs active">Associate's Degree</a>
                </li>
                <li class="nav-item">
                    <a href="#tabBachelorDegree" class="nav-link nav-link-tabs">Bachelor's Degree</a>
                </li>
                <li class="nav-item">
                    <a href="#tabMasterDegree" class="nav-link nav-link-tabs">Master's Degree</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- Content -->
<main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
        <div class="row g-6 mb-6">
            <div class="col-xl-10 col-sm-10 col-12">
                <div class="tab-content">
                    <!-- TAB ASSOCIATION DEGREE -->
                    <div id="tabAssociateDegree" class="tab-pane active">
                        <div class="container mb-5">
                            <div class="table-responsive">
                                <!-- Actions -->
                                <table id="tblAssociateDegree" class="table table-hover table-nowrap">
                                    <thead class="table-header" style="background-color: #018690;">
                                        <tr>
                                            <th class="text-center text-white" scope="col">No</th>
                                            <th class="text-white" scope="col">Major</th>
                                            <th class="text-white" scope="col">Department</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for major in majors %}
                                        <tr>
                                            <td class="text-center" data-label="No"> {{ forloop.counter }}</td>
                                            <td data-label="Name">
                                                <a class="text-heading font-semibold" href="https://www.acleda-aib.edu.kh/tc/eng/ap_curricula_bachelor_computer_science_and_engineering.pdf " target="_blank">{{ major.title }}</a>
                                            </td>
                                            <td data-label="Name">
                                                <a class="text-heading font-semibold" href="#">{{ major.department }}</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- TAB MASTER DEGREE -->
                    <div id="tabBachelorDegree" class="tab-pane">
                        <div class="container mb-5">
                            <div class="table-responsive">
                                <!-- Actions -->
                                <table id="tblBachelorDegree" class="table table-hover table-nowrap">
                                    <thead class="table-header" style="background-color: #018690;">
                                        <tr>
                                            <th class="text-center text-white" scope="col">No</th>
                                            <th class="text-white" scope="col">Major</th>
                                            <th class="text-white" scope="col">Department</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for major in majors %}
                                        <tr>
                                            <td class="text-center" data-label="No">{{ forloop.counter }}</td>
                                            <td data-label="Name">
                                                <a class="text-heading font-semibold" href="https://www.acleda-aib.edu.kh/tc/eng/ap_curricula_bachelor_computer_science_and_engineering.pdf" target="_blank">{{ major.title }}</a>
                                            </td>
                                            <td data-label="Name">
                                                <a class="text-heading font-semibold" >{{ major.department }}</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- TAB MASTER DEGREE -->
                    <div id="tabMasterDegree" class="tab-pane">
                        <div class="container mb-5">
                            <div class="table-responsive">
                                <!-- Actions -->
                                <table id="tblMasterDegree" class="table table-hover table-nowrap">
                                    <thead class="table-header" style="background-color: #018690;">
                                        <tr>
                                            <th class="text-center text-white" scope="col">No</th>
                                            <th class="text-white" scope="col">Major</th>
                                            <th class="text-white" scope="col">Department</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for major in majors %}
                                        <tr>
                                            <td class="text-center" data-label="No">{{ forloop.counter }}</td>
                                            <td data-label="Name">
                                                <a class="text-heading font-semibold" href="https://www.acleda-aib.edu.kh/tc/eng/ap_curricula_bachelor_computer_science_and_engineering.pdf" target="_blank">{{ major.title }}</a>                                            
                                            </td>
                                            <td data-label="Name">
                                                <a class="text-heading font-semibold" href="#">{{ major.department }}</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </div>
</main>

<script>
    function initializeDataTable(tableId) {
        $(tableId).DataTable({
            searching: true,
            ordering: true,
            select: false,
            paging: true,
            "lengthMenu": [[5, 10, 30, -1], [5, 10, 30, "All"]]
        });
    }

    $(document).ready(function () {
        initializeDataTable("#tblAssociateDegree");
        initializeDataTable("#tblBachelorDegree");
        initializeDataTable("#tblMasterDegree");
    });
</script>
{% endblock contents%}