{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block contents %}
<!-- Header -->
<header class="bg-surface-primary border-bottom pt-6 sticky-top shadow-sm p-3 mb-5 bg-body-tertiary">
    <div class="container-fluid">
        <div class="mb-npx">
            <div class="row align-items-center">
                <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                    <!-- Title -->
                    <h1 class="h2 mb-0 ls-tight">{{title}}</h1>
                </div>
                <!-- Actions -->
                <div class="col-sm-6 col-12 text-sm-end">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}" {% endif %}>
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Nav -->
            <ul class="nav nav-tabs mt-4 overflow-x border-0">
                <li class="nav-item">
                    <a href="#tab1" class="nav-link nav-link-tabs active">tab 1</a>
                </li>
                <li class="nav-item">
                    <a href="#tab2" class="nav-link nav-link-tabs">tab 2</a>
                </li>
                <li class="nav-item">
                    <a href="#tab3" class="nav-link nav-link-tabs">tab 3</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- Content -->
<main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
        <div class="row g-6 mb-6">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <!-- Content for tab 1 -->
                    </div>
                    <div id="tab2" class="tab-pane">
                        <!-- Content for tab 2 -->
                    </div>
                    <div id="tab3" class="tab-pane">
                        <!-- Content for tab 3 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock contents%}