{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block contents %}
<!-- Header -->
<header class="bg-surface-primary border-bottom pt-6">
    <div class="container-fluid">
        <div class="mb-npx">
            <div class="row align-items-center">
                <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                    <!-- Title -->
                    <h1 class="h2 mb-0 ls-tight">Profile</h1>
                </div>
                <!-- Actions -->
                <div class="col-sm-6 col-12 text-sm-end">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}" {% endif %}>
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Nav -->
            <ul class="nav nav-tabs mt-4 overflow-x border-0">
            </ul>
        </div>
    </div>
</header>
<!-- Profile -->
<div class="h-screen flex-grow-1 overflow-y-lg-auto section" id="profile">
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
        <!-- Main content -->
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <!-- Main -->
            <main class="py-6 bg-surface-secondary">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-7 mx-auto">
                            <!-- Profile picture -->
                            <div class="card shadow border-0 mt-4 mb-10">
                                <div class="card-body d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg rounded-circle text-white">
                                                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" />
                                            </a>
                                        </div>

                                        <div class="ms-4">
                                            <span class="h4 d-block mb-0">
                                                {{user.first_name}} {{user.last_name}}
                                            </span>
                                            <a href="#" class="text-sm font-semibold text-muted">
                                                {{user.profile.role}}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <button id="btnEdit" type="button" class="btn btn-sm btn-neutral shadow-none">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Form -->
                        <div id="editForm" class="col-xl-7 mx-auto">
                            <div class="row">
                                <div class="mb-5">
                                    <h5 class="mb-0">Update Profile</h5>
                                </div>
                                <form id="updateProForm" class="mb-6" action="" method="post" enctype="multipart/form-data">
                                    <div class="row mb-5">
                                        <div class="col-md-3 mx-auto">
                                            <div class="">
                                                <img class="rounded-circle" alt="..." src="{{ user.profile.image.url }}" /></a>
                                                <input class="mt-3" type="file" id="editProfile" name="editProfile" accept="image/jpg, image/jpeg, image/png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-6">
                                            <div class="">
                                                <label class="form-label" for="username">Username</label>
                                                <input type="text" class="form-control" id="username" value="{{ user.username }}" disabled required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="">
                                                <label class="form-label" for="password">Password</label>
                                                <input type="password" class="form-control" value="{{ user.password }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-6">
                                            <div class="">
                                                <label class="form-label" for="username">First Name</label>
                                                <input type="text" class="form-control" value="{{ user.first_name}}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="">
                                                <label class="form-label" for="password">Last Name</label>
                                                <input type="text" class="form-control" value="{{ user.last_name }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-6">
                                            <div class="">
                                                <label class="form-label" for="username">Email</label>
                                                <input type="email" class="form-control" value="{{ user.email}}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="">
                                                <label class="form-label" for="role">Role</label>
                                                <select class="form-select" id="role" disabled required>
                                                    <option selected>
                                                        {{ user.profile.role }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="ckbxConfirm" id="ckbxConfirm" required>
                                            <label class="form-check-label" for="ckbxConfirm">
                                                Confirm update
                                            </label>
                                        </div>
                                    </div>
                            </div>
                            <div class="text-end">
                                <button id="btnCancelEdit" type="button" class="btn btn-sm btn-neutral me-2">Cancel</button>
                                <button id="btnSubmitEdit" type="submit" class="btn btn-sm btn-primary">Update</button>
                            </div>
                            </form>
                        </div>
                    </div>
                    <hr class="my-2" />
                </div>
            </main>
        </div>
    </div>
</div>


<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock contents%}