{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contents %}
<div class="h-screen flex-grow-1 overflow-y-lg-auto section">
    <!-- Header -->
    <header class="bg-surface-primary border-bottom pt-6 sticky-top shadow-sm p-3 mb-5 bg-body-tertiary">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <!-- Title -->
                        <h1 class="h2 mb-0 ls-tight">Add {{subtitle}}</h1>
                    </div>
                    <!-- Actions -->
                    <div class="col-sm-6 col-12 text-sm-end">
                        <div class="mx-n1">
                            <a href="{% url 'settings' %}" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                <span class=" pe-2">
                                    <i class="fa-solid fa-arrow-left"></i>                                
                                </span>
                                <span>Back</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <div class="tab-content">
        <div id="tab1" class="tab-pane active">
            <div class="row">
                <div class="col-6 mx-auto my-5">
                    <h2>Add {{ subtitle }}</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="row">
                            <div class="col-12 mt-4"> 
                                <button type="submit" class="btn btn-primary form-control">Add {{ subtitle }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contents%}