{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block contents %}
<style>
    .pagination .active a {
        background-color: #018690 !important;
        color: #fff !important;
    }
</style>
<div class="h-screen flex-grow-1 overflow-y-lg-auto section" id="user">
    <!-- Header -->
    <header class="bg-surface-primary border-bottom pt-6 sticky-top shadow-sm p-3 mb-5 bg-body-tertiary">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <!-- Title -->
                        <h1 class="h2 mb-0 ls-tight">{{title}}</h1>
                    </div>
                    <!-- Actions -->
                    <div class="col-sm-6 col-12 text-sm-end">
                        <div class="mx-n1">
                            <a href="{% url 'user_add' %}" class="btn d-inline-flex btn-sm btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <span class=" pe-2">
                                    <i class="bi bi-plus"></i>
                                </span>
                                <span>Add</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Modal Create User -->
                <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title fs-5" id="staticBackdropLabel">Create User</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form name="createForm" id="createForm" method="POST" enctype="multipart/form-data">
                                    <div class="mb-5 d-flex justify-content-center">
                                        <input class="form-control" type="file" id="createProfile" name="createProfile" accept="image/jpg, image/jpeg, image/png" required />
                                        <label id="createAvatar" for="createProfile" class="form-label"></label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input name="createUsername" type="text" class="form-control shadow-none" id="createUsername" placeholder="Enter Username" required />
                                        <label for="createUsername">Username</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input name="createPassword" type="password" class="form-control shadow-none" id="createPassword" placeholder="Enter Password" required />
                                        <label for="createPassword">Password</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input name="createEmail" type="email" class="form-control shadow-none" id="createEmail" placeholder="Enter Email" required />
                                        <label for="createEmail">Email</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select name="createRole" class="form-select shadow-none" id="createRole" aria-label="Floating label select example" required />
                                        <option value="" selected>---</option>
                                        <option value="2">Admin</option>
                                        </select>
                                        <label for="createRole">Role</label>
                                    </div>
                                    <div class="form-floating">
                                        <select name="createStatus" class="form-select shadow-none" id="createStatus" aria-label="Floating label select example" required />
                                        <option value="" selected>---</option>
                                        <option value="1">Active</option>
                                        <option value="2">Inactive</option>
                                        </select>
                                        <label for="createStatus">Status</label>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="btnAddUser" name="btnAddUser" class="btn btn-primary">Create</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div> -->

                <!-- Nav -->
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                    <li class="nav-item">
                        <a href="#tab1" class="nav-link nav-link-tabs active">All User Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab2" class="nav-link nav-link-tabs">All User Profile</a>
                    </li>
                </ul>
            </div>
    </header>
    <div class="tab-content">
        <div id="tab1" class="tab-pane active">
            <div class="container my-4">
                <div class="table-responsive">
                    <table id="tblUsers" class="table table-hover table-nowrap">
                        <thead class="table-header" style="background-color: #018690;">
                            <tr>
                                <th class="text-center text-white" scope="col">No</th>
                                <th class="text-white" scope="col">Username</th>
                                <th class="text-white" scope="col">Full Name</th>
                                <th class="text-white" scope="col">Email</th>
                                <th class="text-white" scope="col">Role</th>
                                <th class="text-white" scope="col">Active</th>
                                <th class="text-white" scope="col">Staff</th>
                                <th class="text-white" scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="text-center" data-label="No">{{ forloop.counter }}</td>
                                <td data-label="Username">
                                    <img alt="..." src="{{ user.profile.image.url }}" class="avatar avatar-sm rounded-circle me-2">
                                    <a class="text-heading font-semibold" href="#">{{ user.username }}</a>
                                </td>
                                <td data-label="Full Name">
                                    <span>{{user.first_name}} {{user.last_name}}</span>
                                </td>
                                <td data-label="Email">
                                    <a class="text-current" href="mailto:{{ user.email }}">{{ user.email }}</a>
                                </td>
                                <td data-label="Role">
                                    <a class="badge bg-opacity-30 bg-success text-white" href="#">{{ user.profile.role }}</a>
                                </td>
                                <td data-label="Active">
                                    <a class="text-current" href="#">{{ user.is_active }}</a>
                                </td>
                                <td data-label="Staff">
                                    <a class="text-current" href="#">{{ user.is_staff }}</a>
                                </td>
                                <td data-label="Actions" class="">
                                    <a href="#" class="btn btn-sm btn-neutral">Edit</a>
                                    <a href="{% url 'user_delete' user.id %}" class="btn btn-sm btn-square btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab2" class="tab-pane">
            <div class="container my-4">
                <div class="table-responsive">
                    <table id="tblUsers" class="table table-hover table-nowrap">
                        <thead class="table-header" style="background-color: #018690;">
                            <tr>
                                <th class="text-center text-white" scope="col">No</th>
                                <th class="text-white" scope="col">firstname</th>
                                <th class="text-white" scope="col">Full Name</th>
                                <th class="text-white" scope="col">Email</th>
                                <th class="text-white" scope="col">Role</th>
                                <th class="text-white" scope="col">Active</th>
                                <th class="text-white" scope="col">Staff</th>
                                <th class="text-white" scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="text-center" data-label="No">{{ forloop.counter }}</td>
                                <td data-label="Username">
                                    <img alt="..." src="{{ user.profile.image.url }}" class="avatar avatar-sm rounded-circle me-2">
                                    <a class="text-heading font-semibold" href="#">{{ user.username }}</a>
                                </td>
                                <td data-label="Full Name">
                                    <span>{{user.first_name}} {{user.last_name}}</span>
                                </td>
                                <td data-label="Email">
                                    <a class="text-current" href="mailto:{{ user.email }}">{{ user.email }}</a>
                                </td>
                                <td data-label="Role">
                                    <a class="badge bg-opacity-30 bg-success text-white" href="#">{{ user.profile.role }}</a>
                                </td>
                                <td data-label="Active">
                                    <a class="text-current" href="#">{{ user.is_active }}</a>
                                </td>
                                <td data-label="Staff">
                                    <a class="text-current" href="#">{{ user.is_staff }}</a>
                                </td>
                                <td data-label="Actions" class="">
                                    <a href="#" class="btn btn-sm btn-neutral">Edit</a>
                                    <a href="{% url 'user_delete' user.id %}" class="btn btn-sm btn-square btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#tblUsers").DataTable({
            searching: true,
            ordering: true,
            select: false,
            paging: true,
            "lengthMenu": [[5, 10, 30, -1], [5, 10, 30, "All"]]
        });
    })
</script>
{% endblock contents%}