:root {
    --primary-op: #0187906c;
    --primary: #018690;
    --dark: #006b73;
    --white: #fff;
    --gold: rgb(255, 217, 0);
}

button {
    background-color: var(--primary);
}

#search-box {
    padding: 5px 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.562);
    box-shadow: none;
    border-radius: 5px;
}
